<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/generic.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" href="/img/logo_transparent.png">
<title>tech-interview-master</title>
</head>

<body>
   <div id="banner">
      <a href="/contributions" id="post_link">
         <div id="post_button" class="div_button">
            Post
         </div>
      </a>

      <div id="userName">
         hello {{user_name}}
      </div>
   </div>

   <div class="container">

      <div class="header">
         <img id="logo" src="/img/logo_transparent.png">
         Tech-Interview-Master
      </div>

      <div class="search">
         <div id="search_wrapper">
            <img id="search_icon" src="/img/search_icon.png">
            <input id="search" type="text" name="search" placeholder="hash tables, graph problems, ...">
         </div>
         <div id="refresh" class="div_button">Reset</div>
      </div>

      <div class="content">
         <ul class="questionList" id="userContributions">
         <!-- list gets filled with the users posts -->
            {% for q in questions %}
            <li class="questionListItem">
               <div class="questionListDiv">
                  <div class="questionListTitle">{{q.question_title}}</div>
                  <div class="questionListPreview">{{q.question_content}}</div>
               </div>

               <div class="hiddenQuestionInfo">{{q.key_string}}</div>

            </li>
            {% endfor %}
         </ul>
      

         <div id="question_view_container">

            <div class="viewer_views"></div>
            <div class="viewer_title"></div>
            <div class="viewer_content"></div>

            <div class="viewer_tags">
               <ul class="viewer_tag_list" id="viewer_tag_list">
                  <!-- list gets filled with the current questions tags -->
               </ul>
            </div>
            <div class="viewer_publishinfo"></div>

            <div id="viewer_vote">
               <div id="question_vote_text">Is this question useful to the community?</div>
               <div id="up_vote"></div>
               <div id="down_vote"></div>
            </div>

            {% if logged_in %}
            <div id="viewer_solution_btn" class="textLink">view solutions</div>
            <div id="viewer_solution_post_btn" class="textLink">post a solution</div>
            {% endif %}

            <div class="hiddenQuestionInfo"></div>

            <div id="solution_edit">
               <textarea id="solution_content" type="text" placeholder="Write solution here" rows="12"></textarea>
               <div id="post_solution_btn" class="textLink"><b>Post</b></div>
               <div id="post_solution_cancel_btn" class="textLink">Cancel</div>
            </div>
            <ul id="answer_viewer">
            </ul>
         </div>
      </div>

   </div>

   <div class="footer">Debug:{{debug1}}, created by <a class="personal_link" href="http://www.nick-grifka.com">Nick Grifka</a> Last updated May 2014</div>

</body>

<script src="/js/questionLink.js"></script>
<script src="/js/index.js"></script>
</html>
