#post_form_div {
   position: absolute;
   margin-top: 50px;
   margin-left: 300px;
   width: 700px;
   height: auto;
   border-radius: 5px;
   border: 1px solid #ABABAB;
   background-color: white;
   display: none;
   z-index: 100;
}

#question_title {
   font-size: 16px;
   width: 97%;
   margin: 5px;
   margin-bottom: 10px;
   font-family: Consolas, Courier New, monospace;
}

#question_content {
   font-size: 16px;
   width: 97%;
   margin: 5px;
   margin-bottom: 10px;
   font-family: Consolas, Courier New, monospace;
}

#tag_search {
   font-size: 16px;
   width: 50%;
   margin: 5px;
   margin-bottom: 10px;
   font-family: Consolas, Courier New, monospace;
}

#question_tags {
   width: 90%;
   height: auto;

   /*border: 1px solid black;*/
}

#question_tags li {
   height: auto;
   font-size: 14px;
   display: inline;
   margin-right: 18px;
   margin-bottom: 5px;
   padding: 4px;
   background-color: orange;
   color: white;
}

#post_form_submit {
   width: auto;
   height: auto;
   font-size: 12px;
   float: left;
   margin: 10px;

   /*border: 1px solid black;*/
}

#post_form_close {
   width: auto;
   height: auto;
   font-size: 12px;
   float: right;
   margin: 10px;

   /*border: 1px solid black;*/
}

#search_results {
   width: 200px;
   height: auto;
   background:white;
   border-collapse:collapse;
}

#search_results td:hover {
   cursor: default;
   background-color: gray;
}

#contributions_subtitle {
   padding: 30px 0px 15px 50px;

   /*border: 1px solid black;*/
}

#stats_table {
   width: 60%;
   height: auto;
   margin-left: 20px;
   float: left;
   font-size: 18px;

   /*border: 1px solid black;*/
   border-collapse: collapse;
   /*border-spacing: 10px 25px;*/
}

#stats_table tr {
   border-top: 1px solid #ABABAB;
}

#stats_table td {
   padding-top: 10px;
   padding-bottom: 10px;
}

#title_col {
   width: 260px;
}

#value_col {
   width: 150px;
}

#description_col {
   width: 500px;
}