td:hover {
   cursor: default;
   background-color: gray;
}

#post_form_div {
   position: absolute;
   margin-top: 100px;
   margin-left: 400px;
   width: 500px;
   height: 500px;
   background-color: green;
   display: none;
   z-index: 100;
}

#post_form_close {
   width: 50px;
   height: 30px;
   font-size: 12px;
   float: right;
}

#search_results {
   width: 200px;
   height: auto;
   background:white;
   border-collapse:collapse;
}