html, body {
   /*margin: 0px;*/
   font-family: Verdana, Helvetica, sans-serif;
   /*background-image: url('/img/gray_background.jpg');*/
   /*background-image: url('/img/orange_background.png');*/
   /*background-repeat: no-repeat;*/
   /*background-size: 100% 100%;*/
   background-color: white;
   display: block;
   /*height: 100%;*/
   padding: 0px;

   margin: 0;
   width: 100%;
   height: 100%;
}

/*html {
   border: 1px solid green;
}
body {
   border: 1px solid blue;

}*/

a {
   color: black;
   text-decoration: none;
}

.italicized {
   font-style: italic;
}

.personal_link {
   color: white;
   font-size: 14px;
}

.personal_link:hover {
   color: #ABABAB;
}

/*.container {
   width: 1200px;
   height: auto;
   margin: 0 auto;
   display: block;

   border: 1px solid green;
}*/

ul {
   list-style-type: none;
}

#banner {
   /*width: 100%;*/
   height: 40px;
   background-color: black;
   color: white;
   /*margin: 0px;*/

   border: 1px solid yellow;
}

.header {
   /*width: 1198px;*/
   width: 100%;
   height: 60px;
   font-size: 42px;
   font-family: 'Michroma', 'sans-serif';

   border: 1px solid black;
}

.subtitle {
   font-size: 32px;
}

.footer {
   position: fixed;
   width: 100%;
   height: auto;
   bottom: 0;
   font-size: 12px;
   /*float: left;*/
   background-color: black;
   color: white;
   text-align: center;

   /*border: 1px solid black;*/
}

.questionList {
   /*width: 398px;*/
   width: 30%;
   max-height: 400px;
   overflow: scroll;
   overflow-x: hidden;
   float: left;
   list-style-type: none;
   padding-left: 0px;
   margin-top: 0px;
   /*border: 1px solid #ABABAB;*/
}

.questionListDiv {
   border-left: 1px solid gray;
   border-right: 1px solid gray;
   border-top: 1px solid gray;
   background-color: white;

   /* background color transitions */
   -moz-transition: background-color .2s ease-in;
   -o-transition: background-color .2s ease-in;
   -webkit-transition: background-color .2s ease-in;
}

.questionListDiv:hover {
   background-color: #FFBE47;
   cursor: default;
}

.questionListTitle {
   font-size: 20px;
   padding-left: 15px;

   font-family: 'Vollkorn', serif;
}

.questionListPreview {
   font-size: 14px;
   font-family: courier;
   font-style: italic;
   padding-left: 30px;
}

.hiddenQuestionInfo {
   display: none;
}

#post_button {
   width: 40px;
   height: 25px;
   font-size: 14px;
   line-height: 22px;
   /*border: 0px solid black;
   border-radius: 2px;
   background-color: orange;
   color: white;
   text-align: center;*/
   vertical-align: middle;
   display: inline-block;
}
/*#post_button:hover {
   background-color: #ED9900;
}*/

.div_button {
   border: 0px solid black;
   border-radius: 2px;
   background-color: orange;
   color: white;
   text-align: center;
}
.div_button:hover {
   background-color: #ED9900;
}

#post_link {
   float: right;
   margin: 8px;
}

#userName {
   width: auto;
   height: 30px;
   font-size: 20px;
   float: right;
   margin: 8px;
}

#shadow {
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0px;
   opacity: .85;
   background-color: black;
   display: none;
   z-index: 10;
}

#logo {
   width: 50px;
   height: 50px;
}

.textLink {
   font-size: 14px;
}

.textLink:hover {
   color: orange;
   text-decoration: underline;
   cursor: default;
}