.search {
   width: 1198px;
   height: 60px;

   border: 1px solid black;
}

.content {
   width: 798px;
   height: auto;
   float: left;
   border: 1px solid black;
}

.sideBox {
   width: 398px;
   height: auto;
   float: left;
   border: 1px solid black;
}

.question_viewer {
   width: 798px;
   height: auto;
   background-color: green;
   float: left;

   border: 1px solid yellow;
}

.viewer_header {
   width: 788px;
   height: 75px;

   border: 1px solid blue;
}

.viewer_title {
   width: 500px;
   font-size: 36px;
   padding: 15px;
   float: left;

   border: 1px solid black;
}

.viewer_views {
   width: 200px;
   font-size: 36px;
   padding: 15px;
   float: right;
   text-align: right;

   border: 1px solid black;
}

.viewer_content {
   font-size: 24px;
   padding: 15px;
   float: left;

   border: 1px solid black;
}

.viewer_vote {
   width: 50px;
   height: 50px;

   border: 1px solid black;
}
/*<div class="question_viewer">
         <div class="viewer_title">{{current_question.question_title}}</div>
         <div class="viewer_views">{{current_question.views}} views</div>
         <hr/>
         <div class="viewer_content">{{current_question.question_content}}</div>
         <div class="viewer_metadata">
            <div class="viewer_publishinfo"></div> 
            <div class="viewer_tags"></div>
         </div>
      </div>*/

#solution_edit {
   width: 200px;
   height: 100px;
   float: left;
   display: none;

   border: 1px solid black;
}