.search {
   width: 1198px;
   height: 60px;
   /*padding-top: 12px;*/
   text-align: center;

   /*border: 1px solid black;*/
}

#search_wrapper {
   width: 360px;
   height: 34px;
   /*margin-left: auto;*/
   border-radius: 20px;
   border-style: solid;
   border-color: #FFA733;
   margin-top: 8px;
   /*display: inline-block;*/
   float: right;
   /*padding: 3px;*/
}

#search_icon {
   width: 32px;
   height: 32px;
   display: inline-block;
   float: left;
   margin-left: 5px;
   margin-top: auto;
   margin-bottom: auto;

   /*border: 1px solid black;*/
}


#search {
   width: 290px;
   height: 28px;
   border: none;
   margin-left: 6px;
   margin-top: auto;
   margin-bottom: auto;
   float: left;
   font-size: 17px;
   font-style: italic;
   display: inline-block;

   /*border: 1px solid black;*/
}

#search:focus {
   outline-width: 0px;
}

#refresh {
   width: 60px;
   height: 20px;
   padding: 5px;
   margin-top: 15px;
   margin-right: 16px;
   /*margin-right: auto;*/
   /*margin-left: 20px;*/
   float: right;
   /*display: inline-block;*/
}

.content {
   /*position: relative;*/
   /*width: 1205px;*/
   width: 100%;
   height: 100%;
   float: left;

   border: 1px solid black;
}

#question_view_container {
   /*max-height: 400px;*/
   /*width: 800px;*/
   width: 68%;
   overflow-y: scroll;
   /*overflow-x: none;*/
   display: none;

   border: 1px solid yellow;
}

.viewer_title {
   width: 70%;
   font-size: 36px;
   padding: 15px;
   float: left;

   border: 1px solid black;
}

.viewer_views {
   width: 20%;
   font-size: 24px;
   color: #828282;
   padding: 15px;
   float: right;
   text-align: right;

   border: 1px solid black;
}

.viewer_content {
   font-size: 24px;
   padding: 15px;
   float: left;
   /*width: 750px;*/
   width: 90%;

   border: 1px solid black;
}

.viewer_tags {
   height: auto;
   width: 95%;
   float: left;

   border: 1px solid black;
}

.viewer_tag_list {
   /*display: inline;*/
   width: 738px;

}

.viewer_tag_list li {
   font-size: 14px;
   display: inline;
   margin-right: 18px;
   padding: 4px;
   background-color: #828282;
   color: white;
   /*border-width: 0px;*/

   /*border: 1px solid black;*/
}

.viewer_tag_list li:hover {
   background-color: orange;
   cursor: default;
   /*border-width: 0px;*/
}

.viewer_publishinfo {
   text-align: right;
   margin-right: 20px;
   /*width:758px; /*788px*/
   width: 95%;
   float: left;

   border: 1px solid yellow;
}

#viewer_vote {
   width: 95%;
   height: 30px;
   display: inline;
   float: left;

   border: 1px solid green;
}

#question_vote_text {
   display: inline;
   float: left;
   margin-left: 10px;
   height: 100%;
   font-size: 100%;

   /*border: 1px solid black;*/
}

#up_vote {
   display: inline;
   width: 20px;
   height: 16px;
   float: left;
   margin-left: 10px;
   background-image: url('/img/thumbs_up.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;

   /*border: 1px solid black;*/
}
#up_vote:hover {
   background-image: url('/img/thumbs_up_filled.png');
}

#down_vote {
   display: inline;
   width: 20px;
   height: 16px;
   float: left;
   margin-left: 6px;
   background-image: url('/img/thumbs_down.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;

   /*border: 1px solid black;*/
}
#down_vote:hover {
   background-image: url('/img/thumbs_down_filled.png');
}

#viewer_solution_btn {
   float: left;
   width: auto;
   margin-left: 10px;
   margin-bottom: 10px;
   margin-top: 14px;

   border: 1px solid black;
}

#viewer_solution_post_btn {
   float: right;
   text-align: right;
   width: auto;
   margin-right: 10px;
   margin-bottom: 10px;
   margin-top: 14px;

   border: 1px solid black;
}

#answer_viewer {
   width: 100%;
   height: auto;
   background-color: white;
   float: right;
   display: none;

   border-radius: 5px;
}

.answer_key {
   display: none;
}

.answer_div {
   width: 100%;
   /*border-radius: 5px;*/
   border-top: 1px solid #ABABAB;
   padding: 14px;
}

.vote_cell {
   width: 50px;
   margin-right: 15px;

   /*border: 1px solid black;*/
}

.answer_up_vote {
   width: 50px;
   height: 50px;
   background-image: url('/img/circle_up.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
.answer_up_vote:hover {
   background-image: url('/img/highlighted_circle_up.png');
}

.answer_rating {
   font-style: bold;
   font-size: 24px;
   text-align: center;
}

.answer_down_vote {
   width: 50px;
   height: 50px;
   background-image: url('/img/circle_down.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
.answer_down_vote:hover {
   background-image: url('/img/highlighted_circle_down.png');
}

.content_cell {
   padding-left:15px;

   /*border: 1px solid black;*/
}

.answer_content {
   height: 75%;

   /*border: 1px solid black;*/
}

.answer_meta {
   height: 25%;
   margin-top: 25px;
   margin-bottom: 0px;
   text-align: right;
   font-size: 14px;
   color: #828282;

   /*border: 1px solid black;*/
}

.answer_list_elt {
   margin: 20px;
}

#solution_edit {
   width: 95%;
   height: auto;
   float: left;
   display: none;
   margin-left: 10px;

   border: 1px solid #ABABAB;
   border-radius: 5px;
}

#solution_content {
   font-size: 16px;
   width: 98%;
   margin: 5px;
}

#post_solution_btn {
   font-size: 12px;
   float: left;
   margin-left: 10px;
}

#post_solution_cancel_btn {
   font-size: 12px;
   float: right;
   margin-right: 10px;
}